// Place all the styles related to the clues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
  list-style: none;
}

.greeting {
  text-align: center;
  margin: 5% auto;
}

.btn-clue {
  height: 2.5em;
  width: 15em;
  margin: 3em;
}

button {
  font-size: 4em;
  color: red;
}

#list-clue {
  margin-top: 5%;
  text-align: center;
}
