<% @clues.each do |clue| %>
  <li>
    <div class="item-clue">
      <% if clue.display === true %>
        <h4><%= clue.description %></h4>
      <% else %>
        <%= link_to "CLUE ##{clue.id}", edit_clue_path(clue), remote: true,  class: "btn btn-primary btn-clue" %>
      <% end %>
    </div>
  </li>
<% end %>
