<div class="greeting">
  <h1>Happy Anniversary!!!</h1>
  <p>
    Answer the questions to get the clues to your present
  </p>
</div>

<div id="list-clue">
  <%= render 'clue' %>
</div>

<div id="clue-modal" class="modal fade"></div>
